
/*===PHONE STYLES====
    ===============*/

/*body styles
==============*/
.screen-div{
    position: relative; 
    max-width: 375px;  
    height: 3000px;
    margin: auto;
    overflow: hidden;
}

/*HEADER STYLES
================*/
.main-header{
    position: absolute;
    width: 327px;
    height: 40px;
    left: 24px;
    
}

/*INTRODUCTION*/
/*.intro{
    position: absolute;
    top: 135px;
    width: 327px;
    height: auto;
    margin: auto;
}*/



/* KEYBOARD IMAGES */
.keyboard-pic{
    position: absolute;
    background-image: url("./assets/mobile/image-keyboard.jpg");
    background-size: cover;
    width: 372px;
    height: 331px;
    left: 24px;
    top: 485px;
    border-radius: 10%;
}
.phone-pic{
    position: absolute;
    background-image: url("./assets/mobile/image-phone-and-keyboard.jpg");
    background-size: cover;
    width: 129px;
    height: 193px;
    left: -22px;
    top: 840px;
    border-radius: 10%;

}
.glass-pic{
    position: absolute;
    background-image: url("./assets/mobile/image-glass-and-keyboard.jpg");
    background-size: cover;
    width: 220px;
    height: 193px;
    left: 131px;
    top: 840px;
    border-radius: 10%;
}

/* ICONS */
.icon-div{
    position: absolute;
    top: 1108px;
    margin: auto;
}
.wireless-el, .compatibility, .bluetooth, .battery, .backlit{
    position: relative;
    margin: auto;
    margin-top: 64px;
}
.wireless-el{
    top: 0px;    
}
