/*===TABLET STYLES====
    ===============*/

/*body styles
==============*/
.main-footer{
    grid-row: 1/3;
    grid-column: 8/9;
}
/* declacre screan-card flex*/
.screen-div{
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: auto repeat(7, 1fr) auto;
}

/* re-align h2 */
div h2{
    text-align: left;
}


/*HEADER STYLES
================*/
.main-header{
   grid-row: 1/3;
   grid-column: 1/2;
    
}

/*INTRODUCTION*/
.intro{
    grid-row: 1/2;
    grid-column: 2/3;
    
}


/* KEYBOARD IMAGES */
.group-image{
    grid-row: 1/4;
    grid-column: 3/5;
}

.keyboard-pic{
    background-image: url("./assets/tablet/image-keyboard.jpg");
    background-size: cover;
    width: 372px;
    height: 331px;
    left: 24px;
    top: 485px;
    border-radius: 10%;
    border-radius: 10%;
}
.phone-pic{
    background-image: url("./assets/tablet/image-phone-and-keyboard.jpg");
    background-size: cover;
    width: 129px;
    height: 193px;
    left: -22px;
    top: 840px;
    border-radius: 10%;

}
.glass-pic{
    background-image: url("./assets/tablet/image-glass-and-keyboard.jpg");
    background-size: cover;
    width: 220px;
    height: 193px;
    left: 131px;
    top: 840px;
    border-radius: 10%;
}

/* ICONS */
/*icon container*/
.icon-div{
    grid-row: 1/3;
    grid-column: 6/8;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}


/*.wireless-el ,.compatibility, .bluetooth, .battery, .backlit{
    position: relative;
    margin: auto;
}*/

.compatibility, .bluetooth, .battery, .backlit{
    position: relative;
    margin: auto;
    margin-top: 64px;
    width: 300px;
    height: 289px;
    background-color: aqua;
}
.bluetooth-icon, .compatibility-icon, .battery-icon, .backlit-icon{
   
}

