  @import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/*===== GENERAL STYLES=====
============================*/
:root{
    --button1-color: #F16718;
    --button1-hover: #FF9B62;

    --button2-color: #E8EFF2;
    --button2-hover: #162542;

}

/* general h1 styles*/
h1{
    font-family: "Barlow", Verdana, Geneva, Tahoma, sans-serif;
    font-size: 40px;
    line-height: 56px;
    font-weight: 900;
    
    color: black;
    text-transform: uppercase;
}

/*general h2 styles*/
h2{
    position: relative;
    width: 100%;
    height: auto;
    margin-top: 32px;
    margin-bottom: 32px;

    font-weight: 900;

    font-family: "Barlow", Verdana, Geneva, Tahoma, sans-serif;
    font-size: 32px;
    line-height: 32px;
    text-transform: uppercase;
    text-align: center;
}

/*general paragraph styles*/
p{
    width: 100%;
    height: auto;

    font-family: "Barlow", Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px, medium;
    line-height: 26px;
    color: #7b8bad;
    text-align: center;
    text-transform: capitalize;
}
.wireless-el h2{
    width: 200px;
    margin: 32px auto;
    text-align: center;

}

/*General Layout*/
.intro-el, .icon{
    max-width: 375px;
    height: auto;
}

/*    PAGE HEADER STYLES
================================*/

.main-header{
    height: auto;
    width: 100%;
}
 
.header-button{
    position: absolute;
    right: 0px;
    height: 40px;
    width: fit-content;

    border: 1px solid var(--button2-color);
    background-color: var(--button2-color);
    border-radius: 5%;

    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    padding: auto 0;
}


.header-button:active{
    background-color: var(--button2-hover);
    color: #fff;
}

.header-icon{
    position: absolute;
    height: 40px;
    width: 40px;
    left: 0px;
    text-transform: uppercase;
}


/*     INTRODUCTION
=============================*/
.intro{
    position: relative;    
}

/*Footer of introductory box*/
.intro-footer{
    position: relative;
    width: 100%;
    height: 50px;
}


.intro-footer-button{
    position: absolute;
    left: 0%;
    top: 0%;
    bottom: 0%;
    height: 100%;

    border: 1px solid var(--button1-color);
    background-color: var(--button1-color);
    border-radius: 7%;
    text-decoration: none;
}

.intro-footer-button:active{
    background-color: var(--button1-hover);
    color: #fff;
}

.intro-footer-p{
    position: absolute;
    width: fit-content;
    height: 26px;
    right: 0px;
    bottom: 0px;

    text-transform: uppercase;
}

/*=====ICONS ELEMENT STYLES=====
===============================*/
.bluetooth-icon, .compatibility-icon, .battery-icon, .backlit-icon{
    position: relative;
    top: 0px;

    border-radius: 20%;
    

    display: flex;
    justify-content: center;
    align-items: center;

    width: 65px;
    height: 65px;
    margin: auto;

    background-color: #F16718;
    
}

/*=====FOOTER STYLES=====
=========================*/
.main-footer{
    position: relative;
    bottom: 0;
    width: 327px;
    height: 16px;
    margin: auto;
    margin-top: 100px;
    text-align: center;
}


/*PHONE STYLE*/
@media screen and (max-width: 375px) {
    
    .screen-div{
        width: 375px;
        height: 2500px;
    }

    .icon-div div{
        position: relative;
        right: -25px;
    }

    .wireless-el{
        position: relative;
        right: -25px;
    } 
    
    .introduction{
        position: relative;
    }
    
    .keyboard-pic{
        background-image: url("./assets/mobile/image-keyboard.jpg");
        background-size: cover;
        
        position: relative;
        left: 24px;

        width: 372px;
        height: 331px;
        margin: 5%;

        border-radius: 10% 0% 0% 10%;
    }
    .phone-pic{
        background-image: url("./assets/mobile/image-phone-and-keyboard.jpg"), linear-gradient(to right, #f16818be, #f16818be);
        background-blend-mode: lighten;
        background-size: cover;

        position: relative;
        left: -22px;
        float: left;

        width: 129px;
        height: 193px;

        border-radius: 10%;

        
    
    }
    .glass-pic{
        background-image: url("./assets/mobile/image-glass-and-keyboard.jpg");
        background-size: cover;
        
        position: relative;
        right: -120px;
        
        width: 270px;
        height: 193px;
        

        border-radius: 10%;
    }
    .intro p{
        text-align: left;
    }

    
    
    
}

/*Tablet style*/
@media screen and (min-width:375.3px) and (max-width: 768px) {
    
    /*General Layout*/
    .screen-div{
        width: 768px;
        height: 2128px;
    }
    
    .intro-el, .icon{
        max-width: 330px;
        height: auto;
    }

    .introduction{
        position: relative;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: 60px 0;
    }

    .introduction > div{
        margin: 5px;
    }

    .wireless-el{
        position: relative;
        max-width: 768px;
    }

    .wireless-el  p{
        text-align: left;
        max-width: 60%;
        margin-left: 300px;
    }

    .wireless-el h2{
        margin-top: 1px;
        float: left;
        
    }

    .icon-div{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    /*Keybord image importation*/
    .keyboard-pic{
        background-image: url("./assets/tablet/image-keyboard.jpg");
        background-size: cover;

        justify-self: end;

        width: 478px;
        height: 435px;

        border-radius: 5% 0 0 5%;

    }

    .phone-pic{
        background-image: url("./assets/tablet/image-phone-and-keyboard.jpg"), linear-gradient(to right, #f16818be, #f16818be);
        background-blend-mode: lighten;
        background-size: cover;

        width: 214px;
        height: 320px;

        border-radius: 5%;
    }

    .glass-pic{
        background-image: url("./assets/tablet/image-glass-and-keyboard.jpg");
        background-size: cover;
        position: relative;  
        left: -100px;
        width: 375px;
        height: 320px;
        margin: auto 100px;
        
        border-radius: 10%;

        justify-self: stretch;
    }

    
}

/*Desktop style*/
@media screen and (min-width: 766px) {
/*general layout*/
    body{
        display:grid;
         
        grid-template-columns: 150px 1010px 150px;
    }
    .empty1, .empty2{
        width: 125px;
        height: 240px;
        background-color: #E8EFF2;
    }
   
    .empty1{
        order: 1;
        border-radius: 0 10% 10% 0;
       
        grid-column: 1/2;
        justify-content: space-between;
        align-self: center;

        position: relative;
        left: -20px;
    }

    .empty2{
        order: 3;
        border-radius: 10% 0 0 10%;
     
        grid-column: 3/4;
        justify-self: end;

        position: relative;
        right: -30px;
    }
    .screen-div{
        grid-column: 2/3;
        position: relative;
        order: 2;
    }
    .introduction{
        margin-top: 64px;

        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    
    .icon-div{
        display: flex;
        margin-top: 100px;
    }

    .keyboard-pic{
        background-image: url("./assets/desktop/image-keyboard.jpg");
        background-size: cover;
        
        margin-left: 50px;

        width: 600px;
        height: 480px;

        border-radius: 5% ;

        
    }
    .phone-pic{
        background-image: url("./assets/desktop/image-phone-and-keyboard.jpg"), linear-gradient(to right, #f16818be, #f16818be);
        background-blend-mode: lighten;
        background-size: cover;
        
        width: 255px;
        height: 480px;
        border-radius: 5%;
    }
    .glass-pic{
        background-image: url("./assets/desktop/image-glass-and-keyboard.jpg");
        background-size: cover;
              
        width: 350px;
        height: 480px;
        
        border-radius: 10%;   
    }

   .wireless-el{
       display: flex;
       flex-direction: column;

       box-sizing: border-box;
       padding: 50px; 
       text-align: left;
   }
  
   p, h1, h2, .bluetooth-icon, .compatibility-icon, .battery-icon, .backlit-icon{
       text-align: left;
       margin-left: 0;  
   }

   
  
}
