@import url("./mobilesStyles.css") screen and (max-width: 375px);

@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* GENERAL STYLES*/
:root{
    --button1-color: #F16718;
    --button1-hover: #FF9B62;

    --button2-color: #E8EFF2;
    --button2-hover: #162542;

}

h1{
    font-family: "Barlow", Verdana, Geneva, Tahoma, sans-serif;
    font-size: 56px;
    line-height: 56px;
    font-weight: 900;
    color: black;
    text-transform: uppercase;
}
h2{
    font-family: "Barlow", Verdana, Geneva, Tahoma, sans-serif;
    font-size: 32px;
    line-height: 32px;
    color: black;
    text-transform: uppercase;
    width: fit-content;
    height: fit-content;
    text-align: center;
    position: relative;
    top: 24px;
    margin-bottom: 48px;
}
h3{
    font-family: "Barlow", Verdana, Geneva, Tahoma, sans-serif;
    font-size: 24px;
    line-height: 26px;
    color: black;

}
p{
    font-family: "Barlow", Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px, medium;
    line-height: 26px;
    color: black;
    text-align: center;
    text-transform: capitalize;
    position: relative;
}

/*HEADER STYLES
================*/
 
.header-button{
    position: absolute;
    right: 0px;
    height: 40px;
    border: 1px solid var(--button2-color);
    width: fit-content;
    border-radius: 5%;
    text-align: center;
    background-color: var(--button2-color);
    text-transform: uppercase;
   
}
.header-button:hover{
    background-color: var(--button2-hover);
}
.header-img{
    position: absolute;
    height: 40px;
    width: 40px;
    left: 0px;
    text-transform: uppercase;
}

/*INTRODUCTION*/
.intro-h1{
    position: relative;
    width: 327px;
    height: fit-content;
    margin: auto;
}
.intro-p{
    position: relative;
    width: 327px;
    height: fit-content;
    margin: auto;
    top: 32px;
    text-align: justify;
    text-transform: capitalize;
}
.intro-footer{
    position: relative;
    width: 310px;
    height: 48px;
    margin: auto;
    top: 32px;
}
.intro-footer-button{
    position: absolute;
    left: 0%;
    right: 51.61%;
    top: 0%;
    bottom: 0%;
    border: 1px solid var(--button1-color);
    background-color: var(--button1-color);
    border-radius: 7%;
}
.intro-footer-button:hover{
    background-color: var(--button1-hover);
}
.intro-footer-p{
    position: absolute;
    height: 26px;
    width: fit-content;
    right: 0px;
    bottom: 0px;
    text-transform: uppercase;
}

.bluetooth-img, .compatibility-img, .battery-img, .backlit-img{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 65px;
    height: 65px;
    top: 0px;
    background-color: #F16718;
    margin: auto;
}

/*FOOTER STYLES*/
.main-footer{
    position: absolute;
    bottom: 0;
    width: 327px;
    height: 16px;
    margin: auto;
    text-align: center;
}

/*==========================================================================================================
==========================================================================================================*/
